/* Image.module.css */

.pic {
  max-width: 800px;
  height: auto;
}

.rectangleContainer {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
}

.rectangleContainer:after {
  content: "";
  rotate: 4deg;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
  z-index: -1;
}
